<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/daftarGuru.css">
    <link rel="stylesheet" href="/assets/fontawesome-free-6.1.1-web/css/all.css">
    <script src="/js/daftarguru.js" defer></script>
</head>

<body>
    <div class="second-container">
        <div class="menu-wrapper">
            <span class="container-menu">
                <i class="fa-solid fa-file-circle-plus"></i>
                <a href="/add_perioda" class="menu">Tambah Perioda</a>
            </span>
            <span class="container-menu">
                <i class="fa-solid fa-calendar-days"></i>
                <a href="/daftar_perioda" class="menu">Daftar Perioda</a>
            </span>
            <span class="container-menu">
                <i class="fa-solid fa-database"></i>
                <a href="/kelola_data" class="menu">Kelola Data</a>
            </span>
        </div>
        <div class="pagination">
            <% for(let i=0; i < page; i++){ %>
                <a href="/daftar-ruangan?start=<%=5*i%>">
                    <%= i+1 %>
                </a>
                <% } %>
        </div>
        <br></br>
        <span style="color: red;"><%=errMsg%></span>
        <div class="display">
            <span class="wrapper1">
                Kode Ruangan
            </span>
            <span class="wrapper2">
                Kapasitas
            </span>
        </div>
        <% for(let i of ruangans){ %>
            <div class="display">
                <span class="wrapper1">
                    <%= i.kode_ruangan %>
                </span>
                <span class="wrapper2">
                    <%= i.kapasitas %>
                </span>
                <a href="/daftar-ruangan?hapus=<%=i.kode_ruangan%>" id="hapus">hapus</a>
            </div>
            <% } %>



                <a href="/logout" id="btn-logout"><i
                        class="fa-solid fa-arrow-right-from-bracket fa-3x fa-flip-horizontal"></i></a>
    </div>
</body>

</html>