<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= page.title %>
    </title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard/siswa.css">
    <link rel="stylesheet" href="/assets/fontawesome-free-6.1.1-web/css/all.css">

<body>
    <nav>
        <a href="/siswa/vaksin"> <img src="/assets/img/suntikan.png">Vaksin</a>
        <a href="/siswa"> <img src="/assets/img/calendar.png">Jadwal</a>
        <a href="/siswa/perioda"> <img src="/assets/img/jadwal.png">Perioda</a>
    </nav>
    <div class="container">
        <main>

            <h2>Jadwal PTMT saya</h1>
                <div class="page">
                    <% for(let i=0; i < page; i++){ %>
                        <a href="/siswa?start=<%=5*i%>">
                            <%= i+1 %>
                        </a>
                        <% } %>
                </div>
                <div id="display-jadwal">

                    <% for(let i of jadwal){ %>
                        <div class="data-jadwal">
                            <p> Tanggal Mulai </p>
                            <p> Tanggal Akhir</p>
                            <p>
                                <%= i.tanggalMulai.toLocaleDateString('id') %>
                            </p>
                            <p>
                                <%= i.tanggalAkhir.toLocaleDateString('id') %>
                            </p>
                        </div>
                        <% } %>
                </div>

        </main>
    </div>

    <a href="/logout" id="btn-logout"><i class="fa-solid fa-arrow-right-from-bracket fa-3x fa-flip-horizontal"></i></a>
    <footer>
        &copy;Copyright 2022.
        <abbr
            title="Elaine Andriana Hosni - 6182001045 , Keannen Renaldo Halim - 6182001007 , Leonard Hans - 6182001011">IT
            Division Smarty School</abbr>
    </footer>
    <!-- font awsome -->
    <script src="https://kit.fontawesome.com/98be303a1b.js" crossorigin="anonymous"></script>
</body>

</html>